body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #9a42e7;
  color: white;
  text-align: center;
  height: 100%;
  font-size: 18px;
}

.wrappper {
  width: 100%;
  margin: 0 auto;
}

canvas {
  color: white;
  border: white dashed 2px;
  padding: 15px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}
h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}

Button {
  background: #f2b5e7;
  border-radius: 5px;
  border: solid 1px white;
  color: rgb(29, 13, 205);
  width: 35px;
  height: 35px;
  margin: 0 10px 10px 0;
  outline: none;
}
Button:hover {
  transition: 0.5s;
  background: white;
  border: solid 1px white;
  color: #c1d72e;
}

.selected {
  background: white;
  border: solid 1px white;
  color: #c1d72e;
}

.btn-2 {
  border-radius: 10px;
  background: #c1d72e;
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 10px;
  width: 180px;
  height: 50px;
  margin: 0 10px 10px 0;

  outline: none;
}
.btn-2:hover {
  transition: 0.5s;
  background: white;
  border: solid 1px white;
  color: #c1d72e;
}
#shark{
  width: 100px;
  color: rgb(251, 95, 95);
  background-color: blue;
}
.dialog{
  display: grid;
  grid-template-columns: 250px 350px;
  grid-template-rows: 250px 250px 250px;
  grid-template-areas: 
  "a a",
  "b c",
  "d d";
  min-height: 700px;
  min-width: 700px;
  border-radius: 50px;
  
  
}
#top{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 40px;
  margin-left: 150px;
  
}
#milieuGauche{
  grid-row: 2;
  grid-column: 1;
  margin: 30px;
}
#milieuDroite{
  grid-row: 2;
  grid-column: 2;
  margin-left: 100px;
  
}
#dessous{
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 3;
  margin-left: 110px;
  margin-top: 80px;
}
#close{
  min-height: 75px;
  min-width: 200px;
}
#border{
  border-bottom: solid black 5px;
}
.hidden{
  display: none;
}
dialog::backdrop{
  background-color: aqua;
}
